{% extends 'faculty/faculty_index.html' %}
{% block body %}
<body>
   <form method="post" action="/mark_attendence_post">
        <table class="table table-borderless table-striped">
        <tr>
            <th>Attendenece<input type="hidden" name="h1" value="{{ data['login_id'] }}"></th>
            <td><input type="checkbox" name="a1" value="Present">Present</td><br>
            <td><input type="checkbox" name="a1" value="Absent">Absent</td>
        </tr>
        <tr>
            <td><input type="submit" name="s1" value="Submit" class="btn btn-outline-success"></td>
        </tr>
    </table>
   </form>


<!--<script src="/static/jquery.js"></script>-->
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$("#rm").keyup(function () {-->
                <!--alloc = $("#rm").val()-->
                <!--$.ajax({-->
                    <!--url: '/att_check',-->
                    <!--type: 'post',-->
                    <!--data: {alloc: alloc},-->
                    <!--success: function (res) {-->
                        <!--val = res['status']-->
                        <!--if (val == 'ok') {-->
                            <!--$(':input[type="submit"]').prop('disabled', true);-->
                            <!--$("#labb").css("color", "red");-->
                            <!--$("#labb").empty();-->
                            <!--$("#labb").append("");-->

                        <!--}-->
                        <!--else {-->
                            <!--$(':input[type="submit"]').prop('disabled', false);-->
                            <!--$("#labb").empty();-->

                        <!--}-->
                        <!--return true;-->
                    <!--},-->
                    <!--error: function (res) {-->
                        <!--return false;-->
                    <!--}-->
                <!--});-->
            <!--});-->
        <!--});-->
    <!--</script>-->


</body>
{% endblock %}