{% extends 'admin/index.html'%}
{% block body %}
<form action="/edit_student_post" method="post" enctype="multipart/form-data">
     <table class="table table-borderless table-striped">
         <tr>
             <input type="hidden" value="{{ data['login_id']}}" name="login"/>
             <td colspan="2" align="center">
                 <img src="{{ data['photo'] }}" width="200px" height="200px"/>
             </td>
         </tr>
        <tr>
            <th>Photo</th>
            <td><input type="file" name="f1" class="form-control"  ></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input type="text" name="n1" class="form-control" required value="{{ data["name"]}}"></td>
        </tr>
        <tr>
            <th>Gender</th>
            {% if data["gender"]=="Male" %}
            <td><input type="radio" value="Male" name="r1" checked>Male
                <input type="radio" value="Female" name="r1">Female
                <input type="radio" value="Other" name="r1">Other</td>
               {% elif data["gender"]=="Female" %}
            <td><input type="radio" value="Male" name="r1" >Male
                <input type="radio" value="Female" name="r1" checked>Female
                <input type="radio" value="Other" name="r1">Other</td>
                    {% else %}
            <td><input type="radio" value="Male" name="r1" >Male
                <input type="radio" value="Female" name="r1" >Female
                <input type="radio" value="Other" name="r1" checked>Other</td>
            {% endif %}
        </tr>
        <tr>
            <th>DOB</th>
            <td><input type="date" name="d1" class="form-control" required value="{{ data['dob'] }}"></td>
        </tr>
         <tr>
            <th>Email</th>
            <td><input type="email" name="e1" class="form-control" required value="{{ data['email'] }}"></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td><input type="number" name="p1" class="form-control" value="{{ data['phone'] }}" required maxlength="10" pattern="[6789]{1}[0-9]{9}"></td>
        </tr>
        <tr>
            <td colspan="2" align="2"><input type="submit" name="s1" value="UPDATE" class="btn btn-outline-success"></td>
        </tr>

    </table>
</form>
{% endblock %}