{% extends 'admin/index.html'%}
{% block body %}
<form method="post" action="/edit_hod_post">
    <table class="table table-borderless">
        <tr>
            <th>Lab<input type="hidden" name="hod" value="{{ data['hod_id'] }}"></th>
            <td>
                <select name="s2" class="form-control" required>
                    <option>{{ lab['lab_name']}}</option>
                    {% for i in data1 %}
                        <option value="{{ i['lab_id'] }}">{{ i['lab_name'] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                <select name="s1" class="form-control" required>
                    <option>{{ lab['staff_name']}}</option>
                    {% for i in data %}
                    <option value="{{ i['staff_lid'] }}">{{ i['staff_name'] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" name="s1" class="btn btn-outline-success"></td>
        </tr>
    </table>
</form>

{% endblock %}