{% extends 'hod/hod_index.html' %}
{% block body %}
<body>
<form method="post" action="">
    <table class="table table-borderless">
         <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Class</th>
            <th>Batch</th>
            <th>Status</th>
         </tr>
        {% for i in data %}
         <tr>
            <td>{{ loop.index }}</td>
            <td><img src="{{ i['photo'] }}" width="100px" height="100px">
                <br>{{ i['name'] }}<br>{{ i['reg_no'] }}</td>
            <td>{{ i['gender'] }}</td>
            <td>{{ i['do'] }}</td>
            <td>{{ i['place'] }}<br>
                {{ i['city'] }}<br>
                {{ i['pin'] }}</td>
            <td>{{ i['email'] }}
                <br>{{ i['phone'] }}</td>
            <td>{{ i['class'] }}</td>
            <td>{{ i['year']}}-{{ i['year']+2}}</td>
            <td>{{ i['status'] }}</td>
         </tr>
        {% endfor %}
    </table>
</form>
</body>
{% endblock %}