{% extends 'faculty/faculty_index.html'%}
{% block body %}
<form action="/fac_view_student_post" method="post" enctype="multipart/form-data">
     <table class="table table-borderless table-striped">
         <tr>
             <td>name</td>
             <td><input type="text" name="textfield" class="form-control" required></td>
             <td><input type="submit" name="submit" value="search" class="btn btn-primary"></td>
         </tr>
     </table>
     <table class="table table-borderless table-striped">
         <tr>
             <th>Sl no</th>
             <th>student name</th>
                <th> contacts</th>
              <th> DOB</th>
             <th> Gender</th>
             <th>Address</th>
             <th>Year</th>
             <th></th>


         </tr>
         {% for i in stnd %}
         <tr>
                <td>{{ loop.index }}</td>
             <td>{{ i['name'] }}<br><img src="{{ i['photo'] }}"></td>
                <td>{{ i['email'] }}<br>
                    {{ i['phone'] }}
                </td>
               <td>{{ i['dob'] }}</td>
              <td>{{ i['gender'] }}</td>
             <td>{{ i['place'] }}<br>
                 {{ i['city']}}<br>
                 {{ i['pin']}}

             </td>
             <td>{{ i['year'] }}</td>
         <td><a href="" class="btn btn-primary">Attendence</a> </td>
         </tr>
         {% endfor %}
     </table>
</form>
{% endblock %}