{% extends 'admin/index.html'%}
{% block body %}
<form method="post" action="">
    <table class="table table-borderless table-striped">
        <tr>
            <th>S.NO</th>
            <th>LAB</th>
            <th>Faculty</th>
            <th></th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ i['lab_name'] }}</td>
            <td>{{ i['staff_name'] }}</td>
            <td><a href="/delete_hod/{{ i['hod_id'] }}" onclick="return confirm('Do you want to delete this?')" class="btn btn-outline-danger">Delete</a></td>
        <!--<td><a href="/edit_hod/{{ i['hod_id'] }}" class="btn btn-outline-info">edit</a></td>-->
        {% endfor %}
        </tr>

    </table>
</form>

{% endblock %}